<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/preformance.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="nav">
        <h1>Performance</h1>
        <p><a href="/">Home</a></p>
        <p><a href="/index">Preview</a></p>
        <p><a href="/chart">Chart</a></p>
    </div>
    <div id="cal">
        <h1>Accuracy: <p>0.97</p></h1>
        <h1>Precision: <p>0.94</p></h1>
        <h1>Recall: <p>0.97</p></h1>
        <h1>F1 score: <p>0.95</p></h1>
    </div>
    <div id="txt">Performance Analysis</div>
    <div id="txt1">Confusion Matrix</div>
    <div id="img"></div>
    <div id="img1"></div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/Headroom.js"></script>
    <script src="../static/js/jQuery.headroom.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/custom.js"></script>

</body>
</html>