<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<style>

</style>

</head>
<body>
    <form action="/insertvalues" method="post">
    <h1>Create  Account</h1>
    <div id="png1">
    </div>
    <div id="Currency"></div>
    <div id="form">
        <h1>Sign Up</h1>
        <div id="profile"></div>
        <input  id="un" type="text" placeholder="Username" name="uname">
         <hr id="hr1" width="100%">
        <input id="em" type="email" placeholder="Email" name="email"><hr id="hr2" width="100%">
        <input id="password" type="number" placeholder="Phone number" name="phone"><hr id="hr3" width="100%">
        <input id="cpw" type="password" placeholder=" Password" name="pwd"><hr id="hr4" width="100%">
        <div id="checkbox">
        </div>
        <input type="submit" id="fb" value="Register">
    </div>
    </form>
</body>
</html>